body {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  min-height: 100vh;
}

h1 {
  color: #212121;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0px 0px 8px;
  padding: 0;
  color: rgba(39, 33, 66, 0.4);
}

li:first-letter {
  text-transform: capitalize;
}

.condition-icons {
  padding: 8px;
}

.description {
  font-size: 17px;
  color: rgba(39, 33, 66, 0.4);
}

.description {
  text-transform: capitalize;
}

.weather-app {
  border-radius: 15px;
  box-shadow: 0 20px 40px rgb(65 50 100 / 20%);
  background: #ffff;
  padding: 15px;
  font-family: "Comfortaa", cursive;
}

.weather-app-wrapper {
  margin: 60px auto;
  max-width: 800px;
}

.weather-icon {
  margin-top: 22px;
}

.current-temperature-container {
  margin: 5px 12px;
}

.current-temperature-container .temperature {
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}

.current-temperature-container .units {
  position: relative;
  top: -43px;
  font-size: 25px;
}

.timestamp {
  font-size: 12px;
}

.weather-forecast {
  margin-top: 75px;
  text-align: center;
  line-height: 1.5;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
}

.weather-forecast-temperatures {
  font-size: 18px;
  color: #117a8b;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-info {
  margin: 8px;
}
